body {
    background-color: blue;
    font: normal 15pt Arial;
    
}

header{
    color: white;
    text-align: center;
}

section{
    background-color: white;
    border-radius: 7px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(75, 75, 75, 0.411);
}

footer{
    color: white;
    text-align: center;
}